<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="icon" type="image/svg+xml" href={~p"/images/logo.svg"} />
    <link rel="icon" type="image/png" sizes="64x64" href={~p"/favicon.png"} />
    <.inertia_title>{assigns[:page_title]}</.inertia_title>
    <.inertia_head content={@inertia_head} />

    <%= if PhoenixVite.Components.has_vite_watcher?(DustWeb.Endpoint) do %>
      <script type="module">
        import RefreshRuntime from "http://localhost:5288/@react-refresh";
        RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
      </script>
    <% end %>

    <PhoenixVite.Components.assets
      names={["js/app.js", "css/app.css"]}
      manifest={{:dust, "priv/static/.vite/manifest.json"}}
      dev_server={PhoenixVite.Components.has_vite_watcher?(DustWeb.Endpoint)}
      to_url={
        if PhoenixVite.Components.has_vite_watcher?(DustWeb.Endpoint),
          do: fn p -> "http://localhost:5288#{p}" end,
          else: &DustWeb.Endpoint.static_path/1
      }
    />
  </head>
  <body class="bg-background text-foreground antialiased">
    {@inner_content}
  </body>
</html>
